<nav class="mat-elevation-z8">

  <mat-toolbar class="mat-elevation-z8 bg-whiter" style="justify-content: flex-end !important;">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="bg-whiter text-primary" id="apps">
      <mat-icon class="material-icons">apps</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a routerLink="/">
        <button mat-menu-item>
          <mat-icon class="material-icons">home</mat-icon>
          <h3 class="text-primary">Healus Assurance</h3>
        </button>
      </a>

      <mat-divider></mat-divider>

      <button mat-menu-item [matMenuTriggerFor]="accounts">
        <mat-icon class="material-icons">settings_suggest</mat-icon>
        Manage Account
      </button>

      <mat-menu #accounts="matMenu">
        <a routerLink="/selfcare/auth/signup">
          <button mat-menu-item>
            <mat-icon class="material-icons">account_circle</mat-icon>
            Register
          </button>
        </a>

        <mat-divider></mat-divider>

        <a routerLink="/selfcare/auth/signin">
          <button mat-menu-item>
            <mat-icon class="material-icons">lock_open</mat-icon>
            Login
          </button>
        </a>

        <mat-divider></mat-divider>

        <a routerLink="/selfcare/auth/logout">
          <button mat-menu-item (click)="logOut()">
            <mat-icon class="material-icons">lock</mat-icon>
            Logout
          </button>
        </a>

      </mat-menu>


      <mat-divider></mat-divider>

      <button mat-menu-item [matMenuTriggerFor]="billing">
        <mat-icon class="material-icons">credit_card</mat-icon>
        Manage Billing
      </button>

      <mat-menu #billing="matMenu">
        <a routerLink="/selfcare/billing/cards">
          <button mat-menu-item>
            <mat-icon class="material-icons">account_balance_wallet</mat-icon>
            My Cards
          </button>
        </a>

        <mat-divider></mat-divider>

        <a routerLink="/selfcare/billing/new-card">
          <button mat-menu-item>
            <mat-icon class="material-icons">credit_card</mat-icon>
            New Card
          </button>
        </a>

        <mat-divider></mat-divider>
      </mat-menu>

      <mat-divider></mat-divider>

      <button mat-menu-item [matMenuTriggerFor]="subscriptions">
        <mat-icon class="material-icons">collections_bookmark</mat-icon>
        Manage Subscriptions
      </button>

      <mat-menu #subscriptions="matMenu">
        <a routerLink="/selfcare/subscriptions/my-invoices">
          <button mat-menu-item>
            <mat-icon class="material-icons">check_box</mat-icon>
            My Subscriptions
          </button>
        </a>

        <mat-divider></mat-divider>

       <a routerLink="/selfcare/subscriptions/pause-subscription">
          <button mat-menu-item>
            <mat-icon class="material-icons">pause_circle</mat-icon>
            Pause Subscription
          </button>
        </a>


        <mat-divider></mat-divider>

        <a routerLink="/selfcare/subscriptions/cancel-subscription">
          <button mat-menu-item>
            <mat-icon class="material-icons">stop_circle</mat-icon>
            Cancel Subscription
          </button>
        </a>

        <mat-divider></mat-divider>

        <a routerLink="/selfcare/subscriptions/resume-subscription">
          <button mat-menu-item>
            <mat-icon class="material-icons">replay</mat-icon>
            Resume Subscription
          </button>
        </a>

      </mat-menu>

      <mat-divider></mat-divider>

      <h4 class="pr-3" *ngIf="accountEmail">Logged in as: <span class="text-warn">{{ accountEmail }}</span></h4>
      <h4 class="pr-3" *ngIf="!accountEmail">Not Logged in. <a routerLink="/selfcare/auth/signin">Login to Continue</a></h4>

      <mat-divider></mat-divider>

    </mat-menu>


    <div>
      <a routerLink="/selfcare/partners">
        Our-partners
      </a> |

      <a routerLink="/selfcare/send-invoice">
        Request Payment
      </a>
    </div>

  </mat-toolbar>
  <mat-toolbar color="primary" class="mat-elevation-z5">
    <h1 class="centered text-white">{{ title }}</h1>
  </mat-toolbar>
</nav>
