<app-header></app-header>
<section>
  <mat-card>
    <mat-card-content class="flex-row">
      <mat-card class="subscription-card card-w400 m-1 p-2">
        <mat-card-title>
          <h2>Life Cover</h2>
        </mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Out-patient cover upto Kshs 2000.00 per Day.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>In-patient cover upto Kshs 2000,000.00.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Dental Care.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Postnatal And Antenatal Care.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Emergency Ambulance Services.</h6>
            </mat-list-item>
          </mat-list>

        </mat-card-content>
        <mat-card-footer>
          <a routerLink="/selfcare/life-cover"><button mat-raised-button color="secondary">
              <mat-icon class="material-icons">card_membership</mat-icon>
              Subscribe.
            </button></a>
        </mat-card-footer>
      </mat-card>

      <mat-card class="subscription-card card-w400 m-1 p-2">
        <mat-card-title>
          <h2>Jumbo Cover</h2>
        </mat-card-title>
        <mat-card-content>

          <mat-list>
            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Out-patient cover upto Kshs 4000.00 per Day.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>In-patient cover upto Kshs 4000,000.00.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Dental Care.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Postnatal And Antenatal Care.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Emergency Ambulance Services.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Pharmacy & Pharmacology related Services.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Free Cancer Screening Services.</h6>
            </mat-list-item>
          </mat-list>

        </mat-card-content>
        <mat-card-footer>
          <a routerLink="/selfcare/jumbo-cover"><button mat-raised-button color="secondary">
              <mat-icon class="material-icons">card_membership</mat-icon>
              Subscribe.
            </button></a>
        </mat-card-footer>
      </mat-card>

      <mat-card class="subscription-card card-w400 m-1 p-2">
        <mat-card-title>
          <h2>Max-Life Cover</h2>
        </mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Out-patient cover upto Kshs 7000.00 per Day.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>In-patient cover upto Kshs 7000,000.00.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Dental Care.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Postnatal And Antenatal Care.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Emergency medical Ambulance & Airlift Services.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Pharmacy & Pharmacology related Services.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Free Cancer Screening Services.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Free and 24/7 Online Doctor consultation Services.</h6>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-footer>
          <a routerLink="/selfcare/max-life-cover"><button mat-raised-button color="secondary">
              <mat-icon class="material-icons">card_membership</mat-icon>
              Subscribe.
            </button></a>
        </mat-card-footer>
      </mat-card>
    </mat-card-content>

  </mat-card>
</section>
