<app-header></app-header>

<section>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="resumeSubscriptionForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="p-1">
          <mat-label>When To Resume</mat-label>
          <mat-hint align="end"></mat-hint>
          <mat-icon matPrefix class="material-icons">info_outline</mat-icon>
          <mat-select formControlName="resume_change_timing">
            <mat-option *ngFor="let entry of ChangeTiming" [value]="entry">
              {{ entry }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="spacer"></div>

        <mat-form-field>
          <mat-label>Date to Resume Subscription</mat-label>
          <input matInput [matDatepicker]="effectiveDatePicker" formControlName="resume_effective_date">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="effectiveDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #effectiveDatePicker></mat-datepicker>
        </mat-form-field>
        <div class="spacer"></div>


        <mat-card-actions class="align-buttons-center">
          <button type="submit" mat-raised-button  [disabled] ="!resumeSubscriptionForm.valid">
            <mat-icon class="material-icons">replay</mat-icon>
            Resume Subscription
          </button>

          <button type="reset" mat-raised-button color="warn" class="text-white">
            <mat-icon class="material-icons">cancel</mat-icon>
            Clear
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>

  </mat-card>

</section>

