<app-header></app-header>

<section>
  <mat-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="locationFormGroup">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="locationFormGroup">
          <ng-template matStepLabel>Select Location</ng-template>
          <mat-form-field appearance="outline" class="p-1">
            <mat-label>Location</mat-label>
            <mat-hint align="end"></mat-hint>
            <mat-icon matPrefix class="material-icons">info_outline</mat-icon>
            <mat-select formControlName="location">
              <mat-option *ngFor="let loc of locations" [value]="loc.id" (click)="getInvoices(loc.id)">
                {{ loc.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="spacer"></div>

        </form>
      </mat-card-content>
      <mat-card-actions class="align-buttons-center">
        <button mat-raised-button matStepperNext>
          <mat-icon class="material-icons">chevron_right</mat-icon>
          Next
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Invoices</ng-template>

    <table mat-table [dataSource]="invoices" class="mat-elevation-z8" *ngIf="invoices">

      <ng-container matColumnDef="invoice_number">
        <th mat-header-cell *matHeaderCellDef> Invoice NO. </th>
        <td mat-cell *matCellDef="let element" class="text-warn"> {{ element.invoice_number }} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Order ID </th>
        <td mat-cell *matCellDef="let element"> {{ element.order_id }} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef> Date Sent </th>
        <td mat-cell *matCellDef="let element"> {{ element.created_at | date }} </td>
      </ng-container> -->

      <ng-container matColumnDef="amount_paid">
        <th mat-header-cell *matHeaderCellDef> Amount Paid</th>
        <td mat-cell *matCellDef="let element" class="text-primary"> {{ element.payment_requests[0].total_completed_amount_money.amount }} </td>
      </ng-container>

      <ng-container matColumnDef="amount_due">
        <th mat-header-cell *matHeaderCellDef> Amount Due </th>
        <td mat-cell *matCellDef="let element" class="text-primary"> {{ element.payment_requests[0].computed_amount_money.amount }} </td>
      </ng-container>

      <ng-container matColumnDef="due_date">
        <th mat-header-cell *matHeaderCellDef> Due Date </th>
        <td mat-cell *matCellDef="let element"> {{ element.payment_requests[0].due_date }} </td>
      </ng-container>

      <ng-container matColumnDef="recipient">
        <th mat-header-cell *matHeaderCellDef> Recipient </th>
        <td mat-cell *matCellDef="let element" class="text-warn"> {{ element.primary_recipient.company_name }} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element" class="text-warn"> {{ element.status }} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="public_url">
        <th mat-header-cell *matHeaderCellDef> Link </th>
        <td mat-cell *matCellDef="let element"><a href="{{ element.public_url }}">Open Invoice</a> </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-card-actions class="align-buttons-center">
      <button mat-raised-button matStepperPrevious>
        <mat-icon class="material-icons">chevron_left</mat-icon>
        Back
      </button>
      <button mat-raised-button matStepperNext (click)="stepper.reset()">
        <mat-icon class="material-icons">chevron_right</mat-icon>
        Reset
      </button>
    </mat-card-actions>
  </mat-step>
</mat-stepper>

  <mat-card *ngIf="!invoices">
    <mat-card-title>
      <h2>You Have No Pending Invoices</h2>
    </mat-card-title>
  </mat-card>
</section>
