<app-header></app-header>

<section>
  <mat-card>
    <mat-card-title>
      <h3>No account Yet?  <a routerLink="/selfcare/auth/signup">&nbsp; &nbsp;Register Here</a></h3>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="p-1">
          <mat-label>Email </mat-label>
          <mat-hint align="end"></mat-hint>
          <input type="email" matInput email="true" formControlName="email_address" placeholder="Email Address">
          <mat-icon matPrefix  class="material-icons">mail_outline</mat-icon>
        </mat-form-field>
        <div class="spacer"></div>

        <mat-form-field appearance="outline" class="p-1">
          <mat-label>Password </mat-label>
          <mat-hint align="end"></mat-hint><mat-icon matPrefix  class="material-icons">security</mat-icon>
          <input type="password" matInput formControlName="password" placeholder="Password">
        </mat-form-field>
        <div class="spacer"></div>


        <mat-card-actions class="align-buttons-center">
          <button type="submit" mat-raised-button  [disabled] ="!signInForm.valid">
            <mat-icon class="material-icons">lock_open</mat-icon>
            Login
          </button>

          <button type="reset" mat-raised-button color="warn" class="text-white">
            <mat-icon class="material-icons">cancel</mat-icon>
            Clear
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>

  </mat-card>

</section>


