<app-header></app-header>


<section>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()" *ngIf="user">
       <mat-form-field appearance="outline" class="p-1">
          <mat-label>First Name </mat-label>
          <mat-icon matPrefix  class="material-icons">info_outline</mat-icon>
          <mat-hint align="end"></mat-hint>
          <input type="text" matInput  formControlName = "given_name" [(ngModel)]="user.given_name">
        </mat-form-field>
        <div class="spacer"></div>

        <mat-form-field appearance="outline" class="p-1">
          <mat-label>Last Name </mat-label>
          <mat-icon matPrefix  class="material-icons">info_outline</mat-icon>
          <mat-hint align="end"></mat-hint>
          <input type="text" matInput  formControlName = "family_name" [(ngModel)]="user.family_name">
        </mat-form-field>
        <div class="spacer"></div>

        <mat-form-field appearance="outline" class="p-1">
          <mat-label>Email </mat-label>
          <mat-hint align="end"></mat-hint>
          <input type="email" matInput email="true" formControlName="email_address" [(ngModel)]="user.email_address">
          <mat-icon matPrefix  class="material-icons">mail_outline</mat-icon>
        </mat-form-field>
        <div class="spacer"></div>

        <mat-form-field appearance="outline" class="p-1">
          <mat-label>Phone Number </mat-label>
          <mat-hint align="end"></mat-hint><mat-icon matPrefix  class="material-icons">phone</mat-icon>
          <input type="tel" matInput tel="true" formControlName="phone_number" [(ngModel)]="user.phone_number">
        </mat-form-field>
        <div class="spacer"></div>

        <mat-form-field appearance="outline" class="p-1">
          <mat-label>Company Name </mat-label>
          <mat-hint align="end"></mat-hint>
          <mat-icon matPrefix  class="material-icons">perm_identity</mat-icon>
          <input type="text" matInput formControlName="company_name" [(ngModel)]="user.company_name">
        </mat-form-field>
        <div class="spacer"></div>

        <mat-card-title><h2>Address</h2></mat-card-title>

        <div formGroupName="address">
          <mat-form-field appearance="outline" class="p-1">
            <mat-label>Address Line 1 </mat-label>
            <mat-icon matPrefix  class="material-icons">info_outline</mat-icon>
            <mat-hint align="end"></mat-hint>
            <input type="text" matInput  formControlName = "address_line_1" [(ngModel)]="user.address.address_line_1">
          </mat-form-field>
          <div class="spacer"></div>

          <mat-form-field appearance="outline" class="p-1">
            <mat-label>Address Line 2 </mat-label>
            <mat-hint align="end"></mat-hint>
            <input type="text" matInput formControlName="address_line_2" [(ngModel)]="user.address.address_line_2">
            <mat-icon matPrefix  class="material-icons">info_outline</mat-icon>
          </mat-form-field>
          <div class="spacer"></div>

          <mat-form-field appearance="outline" class="p-1">
            <mat-label>Locality</mat-label>
            <mat-hint align="end"></mat-hint><mat-icon matPrefix  class="material-icons">info_outline</mat-icon>
            <input type="text" matInput formControlName="locality" [(ngModel)]="user.address.locality">
          </mat-form-field>
          <div class="spacer"></div>

          <mat-form-field appearance="outline" class="p-1">
            <mat-label>Administrative District Level 1</mat-label>
            <mat-hint align="end"></mat-hint>
            <mat-icon matPrefix  class="material-icons">info_outline</mat-icon>
            <input type="text" matInput formControlName="administrative_district_level_1" [(ngModel)]="user.address.administrative_district_level_1">
          </mat-form-field>
          <div class="spacer"></div>

          <mat-form-field appearance="outline" class="p-1">
            <mat-label>Postal Code</mat-label>
            <mat-hint align="end"></mat-hint><mat-icon matPrefix  class="material-icons">info_outline</mat-icon>
            <input type="text" matInput formControlName="postal_code" [(ngModel)]="user.address.postal_code">
          </mat-form-field>
          <div class="spacer"></div>

          <mat-form-field appearance="outline" class="p-1">
            <mat-label>Country</mat-label>
            <mat-hint align="end"></mat-hint><mat-icon matPrefix  class="material-icons">info_outline</mat-icon>
            <input type="tel" matInput  formControlName="country" [(ngModel)]="user.address.country">
          </mat-form-field>
        </div>

       <mat-card-actions class="align-buttons-center">
          <button type="submit" mat-raised-button  [disabled] ="!editForm.valid"><mat-icon class="material-icons">edit_circle</mat-icon>Update User</button>
          <button type="reset" mat-raised-button color="warn" class="text-white"><mat-icon class="material-icons">cancel</mat-icon>Clear</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>

</section>


