<app-header></app-header>
<section>

  <table mat-table [dataSource]="cards" class="mat-elevation-z8"  *ngIf="cards">

    <ng-container matColumnDef="card_brand">
      <th mat-header-cell *matHeaderCellDef> Card Brand </th>
      <td mat-cell *matCellDef="let element" class="text-warn"> {{ element.card_brand }} </td>
    </ng-container>

    <ng-container matColumnDef="cardholder_name">
      <th mat-header-cell *matHeaderCellDef> CardHolder Name </th>
      <td mat-cell *matCellDef="let element"> {{ element.cardholder_name}} </td>
    </ng-container>

    <ng-container matColumnDef="last_4">
      <th mat-header-cell *matHeaderCellDef> Last 4 Digits </th>
      <td mat-cell *matCellDef="let element" class="text-primary"> {{ element.last_4 }} </td>
    </ng-container>

    <ng-container matColumnDef="exp">
      <th mat-header-cell *matHeaderCellDef> Expiry </th>
      <td mat-cell *matCellDef="let element" class="text-warn"> {{ element.exp_month }}/ {{ element.exp_year }} </td>
    </ng-container>

    <ng-container matColumnDef="card_type">
      <th mat-header-cell *matHeaderCellDef> Link </th>
      <td mat-cell *matCellDef="let element"> {{ element.card_type }} </td>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef>Date Created </th>
      <td mat-cell *matCellDef="let element"> {{ element.created_at | date }} </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="disableCard(element.id)">
          <mat-icon class="material-icons">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-card *ngIf="!cards">
    <mat-card-title>
      <h2>You have No Saved Cards</h2>
      <a routerLink="/selfcare/billing/new-card">
        <h4>Add New Card</h4>
      </a>
    </mat-card-title>
  </mat-card>

</section>
